.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h1 {
    font-family: 'Flores', 'Princess-Diana','Caramel', fantasy;
    font-size: 6em;
    font-weight: 300;
    color: #fff;
}

.auth-form-input {
    background-color: #E9CEBD;
    width: 350px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:  0 43px;
    font-family: Montserrat, sans-serif;
}

.auth-form-input Button {
    background: #981920;
    color: aliceblue;
    width: 50%;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    padding: 5px
}

.auth-form-btn {
    align-items: center;
}