* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

.main_logo {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 1em 0;
    border-radius: 20px;
}

.main_container {
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.auth_page {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin5 {
    margin: 0 15%;
}

.auth_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    /*background-color: rgba(255, 255, 255, 0.664);*/
    border-radius: 50px;
    min-height: 465px;
}

.auth_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 15px;
    padding: 15px;
    width: 30%;
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .auth_form_container {
        width: 80%;
    }

    .margin5 {
        margin: 0 5%;
    }
}

.auth_form__header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.auth_form__login,
.auth_form__password,
.auth_form__header {
    margin-bottom: 10px;
}

.auth_form__button {
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    &:hover {
        background-color: #ff5c5c !important;
    }
    &:active {
        background-color: #ff1b1b !important;
    }
}